<div class="container">
  <div class="col-xs-12">
    <div>
      <form>
        <div class="form-group">
          <input type="text" name="wish" id="wish-id" [(ngModel)] = "newWishText">
        </div>
        <button type="submit" class="btn btn-primary" (click) = "$event.preventDefault(); addWish()">Submit</button>
      </form>
    </div>
    <div *ngIf="wishItems.length === 0; else showItems">
      <p>No wishes to display</p>
    </div>
    <ng-template #showItems>
      <div class="form-check" *ngFor="let item of wishItems; index as ii">
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="item.isCompleted"
          [attr.data-index]="ii"
        />
        <label class="form-check-label" for="flexCheckDisabled">
          {{ item.wishText }}
        </label>
      </div>
    </ng-template>
  </div>
</div>
