<p>navbar works!</p>
<button (click)="addItem()">Add item</button>
<div *ngIf="objArray.length > 0; else noData">
  <ul>
    <li *ngFor="let item of objArray; let i = index">
      {{ i }} {{ item | json }} <button (click)="removeItem(i)">Delete</button>
    </li>
  </ul>
</div>

<div>
  <button (click)="btnClick('step1')">step1</button>
  <button (click)="btnClick('step2')">step2</button>
  <button (click)="btnClick('step3')">step3</button>
</div>
<div [ngSwitch]="btnStepVal">
  <div *ngSwitchCase="'step1'"><b>Step 1</b></div>
  <div *ngSwitchCase="'step2'"><b>Step 2</b></div>
  <div *ngSwitchCase="'step3'"><b>Step 3</b></div>
  <div *ngSwitchDefault>gg switch case</div>
</div>
<ng-template #noData> No data ..... </ng-template>
<h1
  [ngClass]="{
    'main-cls': isActive,
    'text-weight': isActive
  }"
></h1>
